// ======== 字体大小 ========
.fs34{
  font-size: 17px;
  line-height: 17px;
}

.fs32{
  font-size: 16px;
  line-height: 16px;
}

.fs30{
  font-size: 15px;
  line-height: 15px;
}

.fs28{
  font-size: 14px;
  line-height: 14px;
}

.fs26{
  font-size: 13px;
  line-height: 13px;
}

.fs24{
  font-size: 12px;
  line-height: 12px;
}

.fs22{
  font-size: 11px;
  line-height: 11px;
}

.fs12 {
  font-size: 6px;
  line-height: 6px;
}
.fs13 {
  font-size: 6.5px;
  line-height: 6.5px;
}
.fs14 {
  font-size: 7px;
  line-height: 7px;
}
.fs15 {
  font-size: 7.5px;
  line-height: 7.5px;
}
